{% extends 'layout.html' %}
{% set title = 'Gender Pay Gap Home' %}
{% block content %}

<h1>Gender Pay Gap REST API</h1>
<p>Choose which specific category you wanna investigate</p>
<ul>
    {% for event in event_second %}
        {% if event['Region'] %}
            <li><a id="{{ event['id'] }}" href="{{ url_for('display_data', field_name=event['Region'], field_type='Region') }}">{{ event['Region'] }}</a></li>
        {% endif %}
        {% if event['EmployerSize'] %}
            <li><a id="{{ event['id'] }}" href="{{ url_for('display_data', field_name=event['EmployerSize'], field_type='EmployerSize') }}">{{ event['EmployerSize'] }}</a></li>
        {% endif %}
        {% if event['Industry'] %}
            <li><a id="{{ event['id'] }}" href="{{ url_for('display_data', field_name=event['Industry'], field_type='Industry') }}">{{ event['Industry'] }}</a></li>
        {% endif %}
    {% endfor %}
</ul>


{% endblock %}